template(name='userHeader')
  div#header
    div#headerRight
      +loginButtons align="right"
    div
      span.title #{user.username}'s pads

template(name='userHome')
  +ContainerSurface class="userSurface"
    +FlexScrollView layout="CollectionLayout" layoutOptions='{ "itemSize": [350,155], "margins": [20,20,20,20], "spacing": [20,20] }'
      each pads
        +Surface class="padCard"
          a(href="/pads/#{_id}")
            h1 #{title}
            img(src="#{webshot}")
            p #{excerpt}
            p #{views} views