template(name='userHeader')
  div#header
    div#headerRight
      +loginButtons align="right"
    div
      span.title #{user.username}'s pads

template(name='userHome')
  +Surface class="userSurface" target="content"
    p
  +FlexGrid itemSize="[350,155]" marginTop=70 marinSide=20 gutterCol=20 gutterRow=20
    each pads
      +Surface class="padCard"
        a(href="/pads/#{_id}")
          h1 #{title}
          img(src="#{webshot}")
          p #{excerpt}