template(name='userHeader')
  div#header
    div#headerRight
      +loginButtons align="right"
    div
      a#cornerLogo(href="/")
      span.title #{user.username}'s pads

template(name='userHome')
  +HeaderFooterLayout headerSize=20
    +Surface target="header" template="userHomeSort"
    +ContainerSurface target="content" class="userSurface" overflow="hidden"
      +FlexScrollView layout="CollectionLayout" layoutOptions=layoutOptions
        +famousEach pads
          +Surface class="padCard"
            a(href="/pads/#{_id}")
              h1 #{title}
              img(src="#{webshot}")
              p #{excerpt}
              p #{views} views since #{ctime}

template(name='userHomeSort')
  p#userHomeSort
    | &nbsp; Sort by
    span
      a(data-value="createdAt",class="{{sortByClass 'createdAt'}}") Date
      | |
      a(data-value="views",class="{{sortByClass 'views'}}") Views
