template(name="guide")
  div#guide
    if isOwner
      div#guideActions
        a(data-action="edit")
          i.fa.fa-pencil.square-o(title="Toggle Edit")
    div#guideText
      +markdown
        #{guideContent}
    p
      if prevPage
        button.btn(data-target='prev')
          i.fa.fa-chevron-left
          | &nbsp; (#{prevPage})
      if multiplePagesOrOwner
        button.btn(disabled="disabled")
          | Page #{page.pageNo}
      if nextPage
        button.btn(data-target='next')
          | Next (#{nextPage}) &nbsp;
          i.fa.fa-chevron-right
      else if isOwner
        button.btn(data-target='createNext')
          | Create &nbsp;
          i.fa.fa-chevron-right
    p
      if isOwner
        button.btn(data-target='deletePage')
          | Delete this Page
          i.fa.fa-times
    p
      | By
      a(href="/{{author.username}}") {{author.username}}
    p
      if shareit
        +shareit shareit
      if showEmbedCode
        input(type="text",id="embedCode",value="#{embedCode}")
